<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
        }
        .center-content {
            text-align: center; /* Center the text horizontally */
            margin-top: 10%;   /* Adjust this value for vertical centering */
        }
    </style>
</head>
<body>
    <div class="center-content">
    <h1>SurrealDB Starter App</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br><br>
        <input type="submit" value="Sign Up">
    </form>
    </div>
</body>
</html>
